# APP
APP_NAME=portofolio-backend
NODE_ENV=development
LOG_LEVEL=debug
PORT=3000

#Databsae
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB_NAME

# JWT
SECRET_KEY=your_jwt_secret_here

#Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

